/*This contains all our variables*/


/*variables are placeholders for storing information that you want to resuse throughout your styles.
You can store things like colors, font-stacks, or any css value you think you might want to reuse.
SCSS uses the $ symbol to declare a variable */

$primary: #3f6276;
$primary-dark: #174d6c;
$secondary: #ffffff;

$background: #ffffff;

$font-stack: "open sans", sans-serif;