/* This is our main file */

@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}


*, *:before, *:after {
  box-sizing: inherit;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}


a{
  color: $secondary;
}

.menu {
   text-align: center;
}

.btn-section:focus{
  outine: none;
}

.dropdown-container{
  width: 100%;
  padding: 0 auto;
  margin:0 auto;

}

.dropdown-btn{
  width: 100%;
  background: $primary;
  padding: 1.5em;
  border: none;
  text-transform: uppercase;
  font-size: 18px;
  color: $secondary;
  text-align: center; 
  outline: none;
}

.dropdown-menu{
  display: none;
  background: $primary;
  width: 100%;
  overflow:hidden;
  ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
  li{
    padding: .75em;
    text-align: center; 
     &:hover{
      background-color: $primary-dark;
      }       
    }
  a{
    width: 100%;
    display:block;
    text-decoration: none;
    }
  }
}

body {
	background-color:$background;
	font: normal 100%/1.5 sans-serif;
	margin: 0;
	padding: 0;
}

p{
	font-family: $font-stack;
	font-size: 3rem;
	color: $secondary;
	text-align: center;
}

.p1{
	font-family:$font-stack;
	font-size: 3rem;
	color:$secondary;
	text-align: center;
	margin-top: -3rem;
}

.intro{
	background-color:$primary;
	text-align: center;
	padding: 6rem 0;
	font-size: 8rem;
}

.white-section{
	font-size: 5em;
	background-color:$secondary;
	color:$primary;
	padding: 8rem 0;
	margin: -1rem -2rem 0 -2rem;

}

.blue-section{
	font-size: 4em;
	background-color:$primary;
	color:$secondary;
	padding: 9rem 0;
	margin-bottom: 0rem;

}

.btn-section{
	text-align: center;
	padding-top: 5rem;
}

#primary-btn {
	@include button;
}

@font-face {
  font-family: 'custom-font';
  src: url('../fonts/custom-font.eot?46597879');
  src: url('../fonts/custom-font.eot?46597879#iefix') format('embedded-opentype'),
       url('../fonts/custom-font.woff?46597879') format('woff'),
       url('../fonts/custom-font.ttf?46597879') format('truetype'),
       url('../fonts/custom-font.svg?46597879#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?46597879#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "custom-font";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-yes-cowboy:before { content: '\e800'; } /* '' */
.icon-no-cowboy:before { content: '\e801'; } /* '' */


